<%- include("header") %>

<div class="box" id="heading">
  <h1> <%= list_title %> </h1>
</div>

<div class="box">
  <% list_contents.forEach(function(item) { %>
<form class="checkbox" action="/delete" method="post">
  <div class="item">
    <input type="checkbox" id="todo_checkbox" name="id_todo" value="<%=item._id%>" onChange="this.form.submit()">
    <p> <%=item.name%> </p>
  </div>
  <% }); %>
  <input type="hidden" name="listTitle" value=<%= list_title %>></input>
</form>

  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="listname" value=<%=list_title%>> + </button>
  </form>
</div>
<%- include("footer") -%>
